<div class="container">
	<div class="row">
		<div class="sGiz col-md-12">
			<iframe src="<%= raw @monthly_link_with_domain_included %>" frameborder="0" width="960" height="900"></iframe>
		</div>
	</div>
</div>