<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.looter_info.subscription_name') %></p>
  <p class="field-value"><%= subscription.name %></p>
</div>
<% if includes_shirt?(subscription) %>
  <div>
    <p class="field-label"><%= t('user_accounts.subscriptions.looter_info.shirt_size') %></p>
    <p class="field-value"><%= subscription.shirt_size %></p>
  </div>
<% end %>