<div class='account-navbar clearfix'>
  <div class="container">
    <div class="row">
      <ul class='unstyled pull-left sidebar-only'>
        <span class='more'><%= side_menu_title %></span>
        <li>
          <button type='button' id='account-section-menu' class='btn btn-navbar' data-toggle-account-responsive-menu>
            <span class="sr-only">Toggle navigation</span>
            <div class='icon-bar'></div>
            <div class='icon-bar'></div>
            <div class='icon-bar'></div>
          </button>
        </li>

        <li id='account-navbar-items' class='loot-drop'>
          <ul class='unstyled account-drop-menu'>
            <li><%= link_to(t('user_accounts.navigation.subscriptions'), user_accounts_subscriptions_path) %></li>
            <li><%= link_to(t('user_accounts.navigation.account_info'), user_accounts_path) %></li>
            <li><%= link_to(t('user_accounts.navigation.store_credits'), user_accounts_store_credits_path) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>