
#edit_looter_info, 
#edit_account_info, 
#edit_shipping_info, 
#edit_account_info_modal {
  @include error;
  @include valid;
  h3 {
    text-align: center
  }
  .edit-container {
    margin: 0 auto;
    position: relative;
    display: block;
    float: none;
    .select2-container.select2 {
      width:100%;
    }
  }
  .form-inputs {
    input[type=text], input[type=email], input[type=password], select {
      width: 100%;
    }
  }
  .form-actions {
    padding: 0px;
    input[type=submit] {
      float: right;
    }
    .back {
      text-align: right;
      position: relative;
      display: block;
      @media (max-width: 979px) and (min-width: 768px) {
        padding-right: 50px;
      }
      a {
        line-height: 45px;
      }
      i {
        color: $orange;
      }
    }
  }
}

#edit_account_info,
#edit_account_info_modal {
  @include error;
  @include valid;
  .billing_address_credit_card_expiration {
    select {
      width: 48%;
      @media (max-width: 979px) and (min-width: 768px) {
        width: 47%;
      }
      &:last-child {
        margin-left: 14px;
        @media ( max-width: 640px){
          margin-left: 5px;
        }
      }
    }
  }
}