/*
 * Community page
 */
#community-index {
  .main-content {
    padding-top: 0;
  }
  .gray-bg {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    .container {
      padding-bottom: 30px;
    }
  }
  .social-container {
    border: none !important;
    a{
      text-decoration: none;
    }
  }
}

.social-icon {
  width: 45px;
  display: inline-block;
}

.social-line {
  text-align: center;
  text-decoration: none !Important;
    p {color: $gray-1;}
}