// ============ //
// Internatinal //
// ============ //

.international {
  .white-bg {
    padding: 60px 0 200px 0;
  }

  .row {
    margin-bottom: 20px;

    .col-md-12 {
      &.align-center {
        padding: 40px 0;
      }
    }

    .spacing {
      padding: 20px 0;
    }
  }
}