
#passwords-edit, #passwords-update {
  h1 {
    font-size:20px;
    margin-bottom: 5px
  }
  h2 {
    font-size: 14px;
    margin-top:5px;
  }

  .howitworks-header{
    color:white;
    padding:10px 0;
    font-size:15px;
    text-transform:uppercase;
    text-align:center;
    background-color:#1b1b1b;
    background-image:linear-gradient(to bottom, #222, #111);
    background-repeat:repeat-x;
    border-color:#252525;
    filter:progid;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    font-weight:bold;
    text-shadow:none;
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  section {
    padding: 0 330px;
    @media(max-width: 768px) {
      padding: 0 200px;
    }
    @media(max-width: 767px) {
      padding:0 10px;
    }
  }
  input {
    width:100%;
  }
  input.btn {
    width:auto;
  }

  #error_explanation {
    h2 {
      font-size: 18px;
      text-align:center;
      font-weight:bold;
    }
    li {
      list-style: none;
      text-align:center;
    }
  }

  .alert {
    margin-bottom:0;
    text-align: center;
    padding: 5px;
  }

  .help-inline {
    padding: 5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    display:block;
  }


}