#forgot-password, #change-password {
  @include valid;
  @include error;
  text-align: center;
  padding: 70px 20px 0 20px;
  color: $gray-2;

  .control-label {
    display: none;
  }



  h6 {
    font-size: 20px;
    color: $gray-2;
    text-align: center;
  }

  input {

    &::-webkit-input-placeholder {
      text-transform: uppercase;
    }

    &:-moz-placeholder { 
      text-transform: uppercase;
    }

    &::-moz-placeholder {  
      text-transform: uppercase;
    }

    &:-ms-input-placeholder {
      text-transform: uppercase;
    }

    &[type="submit"] {
      margin-left: -4px;
      padding-right: 10px;
      padding-left: 10px;
      @include border-box;
    }
  }

  input , #user_email{
    width: 250px !important;
  }

  div.user_email {
    display:inline-block;
    margin: 0px;
  }

  .error{
    position: relative;
    padding: 10px;
    .help-inline{
      color: rgb(185, 74, 72);
      position: absolute;
      width: 500px;
      left: 0;
      top: -15px;
    }

    @media (max-width: 600px) {
      .help-inline{
        width: auto;
      }
    }
  }

  .error.user_email{
    background-image: none !important;
  }

  #user_email-error {
    display: none !important;
  }

  .successPass {
    background: $orange;
    padding: 1em;
    max-width: 300px;
    margin:auto;
    color: white;
    font-weight: bold;
  }

  div.form-group.email.required.user_email.error {
    border: none !important;
    border-color: transparent !important;
    border-width: 0px !important;
  }

  form.simple_form.new_user {
    margin-top: 20px;
  }

}

