<%= content_for :title, 'Thank You' %>

<div id='thankyou-page' class='white-bg statics'>
  <div class='container'>
    <div class='row'>

      <div class='col-md-3 side-nav-container'>
        <%#= render 'side_nav' %>
      </div>

      <div class='col-md-9'>
        <div class='thankyou-top'>
          <h2><%= t('partner.thank_you') %></h2>
          <h3><%= t('partner.get_back_asap') %></h3>
        </div>
      </div>

    </div>
  </div>
</div>
