<div class="container">
  <div class="row">
    <div class="col-sm-10 center">
      <%= image_tag('cybercrate_instructions.jpg', alt:'Cyber Crate', class:'cyberCrate img-responsive') %>
    </div>
  </div>
</div>