<style>
	.fillMe {
		background: black;
		min-height: 500px;
    padding: 1em;
    overflow: hidden;
	}
	.expFrame {
		display: block;
		height: auto;
			padding: 1em;

	}
	.expFrame iframe {
		min-height: 500px;

	}
	.badFrame {
		color: white;
		text-align: center;
		padding: 1em;
		display: none;
	}

	.bigHead {
		text-align: center;
		font-size: 3em;
		color: white;
		font-weight: 600;
		margin-top: 1em;

	}
	.bigHead img {
		width: 100%;
	}

	.buildPane {
		height: 35em;
  overflow: hidden;


	}

	@media ( max-width: 970px){
		.buildPane {
			max-width: 95%;
			margin: 0 3%;
		}
	}

	.roboMenu {
		width: 20%;
		position: absolute;
		left: 0;
		background: #03171e;
		height: 100%;
		min-width: 200px;
		overflow: auto;
    padding-bottom: 60px;
    z-index: 5;

	}
  .closeMenu {
        width: 20%;
        position: absolute;
        left: 0;
        height: 21%;
      
        padding-bottom: 60px;
        position: absolute;
        top: 0%;
        width: 9.4%;
        text-align: center;
        height: 40px;
        /* padding-top: 2%; */
        z-index: 5;
        margin-left: 2%;
        font-weight: 600;
        min-width: 168px;
       
        color: #49daf9;
        line-height: 2.5;
  }
  .closeIcon {
    float: right;
      position: relative;
      left: 34%;
      color: #ff5f00;
      z-index: 1;
      border: 2px solid #07252c;
      /* border-radius: 37px; */
      width: 26%;
      background: #03171e;
  }
  .showMenu {
    display: none;
    position: absolute;
    top: 3%;
    width: 9.4%;
    text-align: center;
    height: 40px;
    /* padding-top: 2%; */
    z-index: 6;
    margin-left: 2%;
    font-weight: 600;
    min-width: 168px;
    border: 1px solid #ff5f00;
    color: #ff5f00;
    line-height: 2.5;

   }
	.rMenuRow {
		display: block;
		text-align: center;
		/*padding: 1em;*/
		border-bottom: 2px solid #07252c;
		margin: 0px 2px 2px 1px
	}
  .rNav {
    cursor: pointer;
    color: white;
    padding: 0.8em;
    text-transform: uppercase;
  }
  .rBody {
    display: none;
  }
	.roboItems {
    background: #404040;
	}

	.roboItem {
		/*border: 1px solid black;*/
		/*padding: 0.8em;*/
    color: #A2A2A2;
    cursor: pointer;
    text-transform: uppercase;
	}
  .roboItem:hover {
    background: #D8D8D8;
    color: black;
  }
  .roboItem.active {
    background: #D8D8D8;
    color: black;
  }

  .robotPane {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
  background-size: cover;


  }

  .roboHead, .roboTorso, .roboLegs, .roboRArm, .roboLArm {
      right: 25%;
  }
  .zordPart {
    position: absolute;
    width: 20%;
  }
  
  .roboHead {
    width: 15.6%;
    width: 23.4%;
  }
  .roboTorso {
    width: 7.46%;
    margin-top: 7.4%;
    margin-right: 4%;
    width: 11.19%;
    margin-top: 11.1%;
    margin-right: 6%;

  }
  .roboLegs {
    width: 13%;
    margin-top: 16.4%;
    margin-right: 1.4%;
    width: 19.5%;
    margin-top: 24.6%;
    margin-right: 2.1%;
  }
  .roboRArm {
   width: 6.2%;
   margin-top: 11%;
   margin-right: -2.2%;
   width: 9.3%;
   margin-top: 16.45%;
   margin-right: -3.3%;
  }
  .roboLArm {
    width: 6.2%;
    margin-top: 11%;
    margin-right: 11.5%;
    width: 9.3%;
    margin-top: 16.45%;
    margin-right: 17.125%;
  }

  @media ( max-width: 768px){
    .roboHead {
      width:38%
    }

    .roboTorso {
      width: 18.1409%;
      margin-top: 17.8787%;
      margin-right: 9.6641%;
    }
    .roboLegs {
      width: 31.4083%;
      margin-top: 39.6227%;
      margin-right: 3.3824%;
    }

    .roboRArm {
     width: 14.9793%;
     margin-top: 26.4957%;
     margin-right: -5.3152%;
    }
    .roboLArm {
      width: 14.9793%;
      margin-top: 26.4957%;
      margin-right: 27.5829%;
    }

  }

  @media ( max-width: 600px){
    .roboHead {
      width:50%;
    }
    .roboTorso {
      width: 23.8734%;
      margin-top: 23.5284%;
      margin-right: 12.7179%; 
    }
    .roboLegs {
      width: 41.3333%;
      margin-top: 52.1435%;
      margin-right: 4.4512%;
    }
    .roboRArm {
     width: 19.7127%;
     margin-top: 34.8683%;
     margin-right: -6.9948%;
    }
    .roboLArm {
      width: 19.7127%;
      margin-top: 34.8683%;
      margin-right: 36.2991%;
    }
    .robotPane {
      padding-top: 1em;
    }

  }

  .saveButton {
    position: absolute;
    bottom: 3%;
    width: 9.4%;
    text-align: center;
    height: 40px;
    /* padding-top: 2%; */
    z-index: 5;
    margin-left: 7%;
    font-weight: 600;
    min-width: 168px;
    border: 1px solid #ff5f00;
    color: #ff5f00;
    line-height: 2.5;
    z-index: 5;
  }
  .saveButton:hover {
    background: #ff5f00;
    color: white;
  }
  
  #my-canvas {
   /* transform: scale(0.5, 0.5);*/
   display: flex;
  }
  .pointer {
    cursor: pointer;
  }


.bigZone {
  margin: 0;
}

.cando {
 overflow: auto;
 max-width: 100%;
 max-height: 100%;
}

.tranScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: black;
  z-index: 99;
  display: none;
}

.zordVid {
  position: absolute;
  z-index: 10;
  height: 120%;
  width: 100%;
  background: black;
  margin-top: -1em;
  margin-left: -1.2em;
}

.saveLoader {
  text-align: center;
  line-height: 9;
  font-size: 3em;
  color: white;
}
.introText {
  display: none;
  opacity: 0;
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  z-index: 11;
  color: white;
 /* width: 100%;*/
  padding: 20%;
  padding-top: 7%;
}
.introText:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: -5em;
      content: '';
      background: black;
      opacity: 0.7;
      z-index: -1;
  }


.introButton {
  font-weight: 600;
  min-width: 168px;
  font-size: 0.8em;
  border: 1px solid #ff5f00;
  color: #ff5f00;
  line-height: 2.5;
  z-index: 5;
  padding: 0.25em;
  font-weight: 600;
  width: 40%;
  border: 1px solid #ff5f00;
  color: #ff5f00;
  line-height: 2.5;
  z-index: 5;
  
  margin: auto;
  margin-top: 3em;
  min-width: 160px;
  position: relative;
}
.introButton:hover {
    background: #ff5f00;
    color: black;
  }

.gleamBox {
  margin-top: 2em;
  display: none;
}

.lootLogo {
  position: absolute;
  top: 0.89em;
  right: 2.2em;
  z-index: 8;
  width: 16%;
    min-width: 121px;
}
@media ( min-width: 680px){
.showSmall {
display: none;
}
.hideSmall {
  display: block;
}

}
@media ( max-width: 680px){
.showSmall {
display: block;
}
.hideSmall {
  display: none;
}
.showMenu {
  min-width: 50px;
}

}

	@media ( max-width: 970px){
			.expFrame {
				/*display: none;*/
			}
			.badFrame {
				/*display: block;*/
			}
	}
</style>
<script src="https://js.gleam.io/oi-Pwkj55u.js" async="async"></script>

<div class="fillMe">
	<div class="container">
		<div class="row">
		<div class="expTitle">
			<div class="bigHead col-xs-12">
				UNITE EXPERIENCE
				<%#= image_tag("experience/lootquest_920.png", alt:'Loot Quest', class:'bigLQ center') %>
				
			</div>
			<div class="smallHead"></div>
		</div>
	</div>
	<div class="row">
			<div class="expFrame col-xs-12">
			
			</div>
	</div>

	<div class="row bigZone">
    
    <div class="cando" id="cando"></div>
		<div class="buildPane col-xs-12" id="bPane">
      <div class="tranScreen">
      <div class="saveLoader">
        <i class="fa fa-cogs fa-spin"></i>
      </div>
       
      </div>
      <div class="zordVid">
          <video class="zordVideo" id="mainVid" min-width="100%" width="100%" height="auto" style="position: relative;left: 0px; z-index: 0;" autoplay >
            <source src="https://d1amge0x0j8e4g.cloudfront.net/public/zord/vid/ss5_intro.mp4" type="video/mp4">
            <source src="https://d1amge0x0j8e4g.cloudfront.net/public/zord/vid/ss5_intro.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
      </div>
      <div class="introText">
      Sentinels, the city is in danger! We need your help to assemble the perfect Loot-Bot to save the city from the evil Ronald Repulsor!

      <div class="introButton pointer">
        Assemble Your Bot!
      </div>
      </div>
      <div class="showMenu pointer">
        
        <div class="hideSmall">
          SHOW MENU
        </div>
        <div class="showSmall">
          <i class="fa fa-bars"></i>
        </div>
      </div>
      <div class="closeMenu">
           <div class="closeIcon pointer">
              <i class="fa fa-times"></i>
           </div>
           
      </div>
   
			<div class="roboMenu">
					<div class="rMenuRow">
						<div class="rNav">Head</div>
						<div class="rBody">
							<ul class="roboItems">
								<li class="roboItem active  head" data-bot="unu">
									Sentineltron
								</li>
								<li class="roboItem head" data-bot="two">
									Ranger of Power
								</li>
								<li class="roboItem head" data-bot="tres">
									Volvotron
								</li>
								<li class="roboItem head" data-bot="cuater">
									Aku-bot
								</li>
							</ul>
						</div>
					</div>
					<div class="rMenuRow">
            <div class="rNav">Torso</div>
          <div class="rBody">
            <ul class="roboItems">
              <li class="roboItem active torso" data-bot="unu" >
                Sentineltron
              </li>
              <li class="roboItem torso" data-bot="two">
                Ranger of Power
              </li>
              <li class="roboItem torso" data-bot="tres">
                Volvotron
              </li>
              <li class="roboItem torso" data-bot="cuater">
               Aku-bot
              </li>
            </ul>
          </div>
          </div>
					<div class="rMenuRow">
            <div class="rNav">Left Arm</div>
            <div class="rBody">
              <ul class="roboItems">
                <li class="roboItem active lArm" data-bot="unu">
                  Sentineltron
                </li>
                <li class="roboItem lArm" data-bot="two">
                  Ranger of Power
                </li>
                <li class="roboItem lArm" data-bot="tres">
                  Volvotron
                </li>
                <li class="roboItem lArm" data-bot="cuater">
                 Aku-bot
                </li>
              </ul>
            </div>
          </div>
					<div class="rMenuRow">
            <div class="rNav">Right Arm</div>
            <div class="rBody">
              <ul class="roboItems">
                <li class="roboItem active rArm" data-bot="unu">
                  Sentineltron
                </li>
                <li class="roboItem rArm" data-bot="two">
                  Ranger of Power
                </li>
                <li class="roboItem rArm" data-bot="tres">
                  Volvotron
                </li>
                <li class="roboItem rArm" data-bot="cuater">
                 Aku-bot
                </li>
              </ul>
            </div>
          </div>
					<div class="rMenuRow">
            <div class="rNav">Legs</div>
            <div class="rBody">
              <ul class="roboItems">
                <li class="roboItem active legs" data-bot="unu">
                  Sentineltron
                </li>
                <li class="roboItem legs" data-bot="two">
                  Ranger of Power
                </li>
                <li class="roboItem legs" data-bot="tres">
                  Volvotron
                </li>
                <li class="roboItem legs" data-bot="cuater">
                 Aku-bot
                </li>
              </ul>
            </div>
          </div>
        <div class="saveButton pointer">SAVE</div>
			</div>
      <div class="robotPane" id="roboPane">
        <div class="lootLogo">
          <img class="img-responsive" src="experience/logo.png" alt="lootrate">
        </div>
        <div class="roboHead zordPart">
          <img class="img-responsive" src="https://d1amge0x0j8e4g.cloudfront.net/public/zord/unu/head_block.png" alt="">
          <%#= image_tag("zord_builder/dos/head_block.png", alt:'lootcrate', class:'img-responsive') %>
        </div>
        <div class="roboTorso zordPart">
          <img class="img-responsive" src="https://d1amge0x0j8e4g.cloudfront.net/public/zord/unu/torso_block.png" alt="">
          <%#= image_tag("zord_builder/torso_block.png", alt:'lootcrate', class:'img-responsive') %>
        </div>
        <div class="roboLegs zordPart">
          <img class="img-responsive" src="https://d1amge0x0j8e4g.cloudfront.net/public/zord/unu/legs_block.png" alt="">
          <%#= image_tag("zord_builder/legs_block.png", alt:'lootcrate', class:'img-responsive') %>
        </div>
        <div class="roboLArm zordPart">
          <img class="img-responsive" src="https://d1amge0x0j8e4g.cloudfront.net/public/zord/unu/l_arm_block.png" alt="">
          <%#= image_tag("zord_builder/l_arm_block.png", alt:'lootcrate', class:'img-responsive') %>
        </div>
        <div class="roboRArm zordPart">
          <img class="img-responsive" src="https://d1amge0x0j8e4g.cloudfront.net/public/zord/unu/r_arm_block.png" alt="">
          <%#= image_tag("zord_builder/r_arm_block.png", alt:'lootcrate', class:'img-responsive') %>
        </div>
      </div>
		</div>
    
		<div class="smallHead"></div>
	</div>
  <div class="row">
    <div class="gleamBox">
      <div data-gallery-embed='6hkip'></div>
    </div>
  </div>
	<div class="row">
    <div class="hiddenBgImage hidden">
      <img src="experience/background_b.jpg" alt="lootrate">
    </div>
			<div class="badFrame center">
				We are terribly sorry, but this game has been optimized for browsers with a minimum width of 970 pixels. Please try again on a wider display.
			</div>
		</div>
	</div>
</div>

<script>



var zord = [];
  zord.init = function(){
    this.bindings();
    this.setBot();
    this.fileSaver();
    this.styleMe();
    this.goText();
  }
  //zord.root = "https://s3-us-west-2.amazonaws.com/lootcrate-store/public/zord/";
  zord.root = "assets/zord_builder/";
  zord.root = "https://d1amge0x0j8e4g.cloudfront.net/public/zord/";
  zord.root = "/zord_builder/";
  zord.scale = 1;
  zord.setBot = function () { 
    $.each($('.rMenuRow'), function(ind, val){
        $(val).find('.roboItem').first().click();
    })
  }
  zord.supports_video = function () {
    return !!document.createElement('video').canPlayType;
  }
  zord.goText = function(){
      var goText = new TimelineMax();
      var vidz = $('.zordVideo')
      if(zord.supports_video()){
        vidz.on("canplay", function () {
          setTimeout(function(){
                goText.to($('.introText'), 1, {display:'block', opacity:1})
          }, 3000)
         
        });


      } else {
              setTimeout(function(){
                    goText.to($('.introText'), 1, {display:'block', opacity:1})
              }, 3000)
      }

  

    
   

  }
  zord.styleMe = function() {
    var imSrc = $('.hiddenBgImage img').attr('src');
    $('.robotPane').css({
       background:'url('+imSrc+')',
       'background-size' : 'cover'
    })

  }



 /* zord.getBinary = function(file){
      var xhr = new XMLHttpRequest();
      xhr.open("GET", file, false);
      xhr.overrideMimeType("text/plain; charset=x-user-defined");
      xhr.send(null);
      return xhr.responseText;
  }*/

/*  zord.base64Encode = function(str) {
      var CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
      var out = "", i = 0, len = str.length, c1, c2, c3;
      while (i < len) {
          c1 = str.charCodeAt(i++) & 0xff;
          if (i == len) {
              out += CHARS.charAt(c1 >> 2);
              out += CHARS.charAt((c1 & 0x3) << 4);
              out += "==";
              break;
          }
          c2 = str.charCodeAt(i++);
          if (i == len) {
              out += CHARS.charAt(c1 >> 2);
              out += CHARS.charAt(((c1 & 0x3)<< 4) | ((c2 & 0xF0) >> 4));
              out += CHARS.charAt((c2 & 0xF) << 2);
              out += "=";
              break;
          }
          c3 = str.charCodeAt(i++);
          out += CHARS.charAt(c1 >> 2);
          out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
          out += CHARS.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));
          out += CHARS.charAt(c3 & 0x3F);
      }
      return out;
  }

  */


  zord.convertImgToBase64URL = function (url, callback, outputFormat){
    /**
     * Convert an image 
     * to a base64 url
     * @param  {String}   url         
     * @param  {Function} callback    
     * @param  {String}   [outputFormat=image/png]           
     */
    //function convertImgToBase64URL(
        var img = new Image();
        img.crossOrigin = 'Anonymous';
        img.onload = function(){
            var canvas = document.createElement('CANVAS'),
            ctx = canvas.getContext('2d'), dataURL;
            canvas.height = img.height;
            canvas.width = img.width;
            ctx.drawImage(img, 0, 0);
            dataURL = canvas.toDataURL(outputFormat);
            callback(dataURL);
            canvas = null; 
        };
        img.src = url;
    
  }
  zord.fileSaver = function(){

    $.getScript('https://s3-us-west-2.amazonaws.com/lootcrate-store/public/zord/lib/html2canvas.min.js', function(done) {
         $.getScript('https://s3-us-west-2.amazonaws.com/lootcrate-store/public/zord/lib/Blob.js', function(done) {
         $.getScript('https://s3-us-west-2.amazonaws.com/lootcrate-store/public/zord/lib/canvas-toBlob.js', function(done) { })

       })
        $.getScript('https://s3-us-west-2.amazonaws.com/lootcrate-store/public/zord/lib/FileSaver.min.js', function(done) {
            try {
                var isFileSaverSupported = !!new Blob;
            } catch (e) {
              console.log('fudggge')
            }

          })


    })


   
  }

  zord.resize = function () {
    var daWidth = $(window).width();

    if( daWidth >= 1800 ) {
      zord.scale = 2
    }

    if(daWidth <= 1800 && daWidth >= 1680 ) {
      zord.scale = 1.8
    }

  if(daWidth <= 1680 && daWidth >= 1480) {
    zord.scale = 1.6
  }
    if(daWidth <= 1480 && daWidth >= 1280) {
      zord.scale = 1.4
    }
    if(daWidth <= 1280 && daWidth >= 1080) {
      zord.scale = 1.2
    }
    if(daWidth <= 1080 && daWidth >= 971) {
      zord.scale = 1.1
    }
      if( daWidth <= 970 && daWidth >= 768){
        zord.scale = 1.2
      }
      if(daWidth <= 480){
        zord.scale = 1.4
      }

  }
  zord.bindings = function(){

    var element = document.getElementById("roboPane");

    $('.introButton').on('click', function(ev){
      var clearIntro = new TimelineMax();
      clearIntro.to($('.introText'), 2, {opacity:0, display:'none'})
      clearIntro.to($('.zordVid'), 2, {opacity:0, display:'none'})
      clearIntro.to($('.gleamBox'), 1, {opacity:1, display:'block'})

    })

    $('.closeIcon').on('click', function(ev){
       ev.stopPropagation();
        var menuTog = new TimelineMax();
         menuTog.to($('.closeIcon'), 0.2, {opacity:0, display:'none'})
         menuTog.to($('.saveButton'), 0.2, {opacity:0, display:'none'}, '-=0.2')
        menuTog.to($('.roboMenu'), 1, {'margin-left' : '-100%'})
        menuTog.to($('.showMenu'), 1, {opacity:1, display:'block'}, "-=0.6")

    })
    $('.showMenu').on('click', function(ev){
     var menuTog = new TimelineMax();
      menuTog.to($('.showMenu'), 0.5, {opacity:0, display:'none'})
      menuTog.to($('.roboMenu'), 1, {'margin-left' : '0'})
      menuTog.to($('.saveButton'), 0.2, {opacity:1, display:'block'})
      menuTog.to($('.closeIcon'), 1, {opacity:1, display:'block'})

    })
    $('.saveButton').on('click', function(ev){
        ev.stopPropagation();
        
        var save = new TimelineMax();
       $('.tranScreen').show();
          $('.tranScreen').css({top:0, left:0, right:0, bottom:'-5em'})
     // $(".robotPane").css({transform:'scale(2, 2)'})
       //TweenMax.set($('.robotPane'), {scale:2})
       $(window).scrollTo( $('.bigHead'), 300, {offset: {top:-200}} )
        $('.tranScreen').css({top:0, left:0, right:0, bottom:'-5em'})
        
        save.set($('.closeMenu'), {width:'11%', opacity:0})
        save.set($('.robotPane'), {scale:zord.scale})
        save.to($('.saveButton'), 0.4, {opacity:0})
      // TweenMax.to($('.closeIcon'), 0.1, {opacity:0, display:'none'})

        save.to($('.roboMenu'), 1, {'margin-left' : '-100%', onComplete:function(){
           $('.tranScreen').css({top:0, left:0, right:0, bottom:'-5em'})
            html2canvas($(".robotPane"), {
                        onrendered: function(canvas) {
                           var theCanvas = canvas;
                         
                         var img = canvas.toDataURL();
                         zord.img = img;
                         imgzord = '<img src="'+img+'" />'
                           // document.body.appendChild(canvas);
                            // Convert and download as image 

                            $("#cando").empty().append(canvas);
                            // $("#cando").css({'margin-left':'-12em'})
                            
                           
                            $('#cando canvas').attr('id', 'my-canvas')

                              var opts = document.getElementById("my-canvas");
                                zord.opts = opts;


                           //$(".robotPane").css({transform:'scale(1, 1)'})
                           var resetSave = new TimelineMax();
                             resetSave.set($('.robotPane'), {scale:1})
                            //$('.cando').css({width:$('.robotPane').width() +'px', height:$('.robotPane').height()+'px'})
                           $('.tranScreen').hide();
                          // $("#my-canvas").css({transform:'translate(0px, 0px)'})
                            var Canvas = document.getElementById("my-canvas"), ctx = opts.getContext("2d");
                              console.log('beep')
                              
                          var canCan = opts;

                              // finally query the various pixel ratios
                                 var devicePixelRatio = window.devicePixelRatio || 1,
                                  backingStoreRatio = ctx.webkitBackingStorePixelRatio ||
                                                      ctx.mozBackingStorePixelRatio ||
                                                      ctx.msBackingStorePixelRatio ||
                                                      ctx.oBackingStorePixelRatio ||
                                                      ctx.backingStorePixelRatio || 1;

                                  zord.ratio = devicePixelRatio / backingStoreRatio;

                                  console.log(zord.ratio)
                                  // ensure we have a value set for auto.
                                    // If auto is set to false then we
                                    // will simply not upscale the canvas
                                    // and the default behaviour will be maintained
                                    if (typeof auto === 'undefined') {
                                        auto = true;
                                    }

                                    // upscale the canvas if the two ratios don't match
                                 /*   if (auto && devicePixelRatio !== backingStoreRatio) {

                                        var oldWidth = canCan.width;
                                        var oldHeight = canCan.height;

                                        canCan.width = oldWidth * ratio;
                                        canCan.height = oldHeight * ratio;
                                        canCan.width = oldWidth * 2;
                                        canCan.height = oldHeight * 2;

                                        canCan.style.width = oldWidth + 'px';
                                        canCan.style.height = oldHeight + 'px';

                                        // now scale the ctx to counter
                                        // the fact that we've manually scaled
                                        // our canvas element
                                        ctx.scale(ratio, ratio);

                                    }*/

                                      /*console.log(canCan)*/

                                     // $(canCan).css({'padding-left':'100px'})
                                  
                                  canCan.style.width = $('.robotPane').width()  + 'px';
                                  canCan.style.height = $('.robotPane').height()   + 'px';

                           var Canvas = document.getElementById("my-canvas");
                                  
                             //$("#my-canvas").css({transform:'translateX(200)'})
                            // draw to canvas...
                            Canvas.toBlob(function(blob) {
                               saveAs(blob, "pretty_image.png");
                              // $('#cando').empty();
                            });
                            
                            canCan.style.width = 0;
                            canCan.style.height = 0;
                            save.to($('.roboMenu'), 1, {'margin-left' : '0'})
                            save.to($('.closeMenu'), 0.1, {width:'9.4%', opacity:1})
                            save.to($('.saveButton, .closeIcon'), 0.4, {opacity:1})

                            TweenMax.to($('.closeIcon'), 0.1, {opacity:1, display:'block'})
                            // Clean up 
                            //document.body.removeChild(canvas);
                           // 
                        },
                        useCors : true,
                        proxy: 'https://d1amge0x0j8e4g.cloudfront.net/',
                        background:'#000',
                        height: $(".robotPane").height()*zord.scale,
                        width:  ($(".robotPane").width()*zord.scale)
                        //allowTaint : true
                    });
        }})

       
    })

    $('.rNav').on('click', function(){

      $('.rBody').hide();
      TweenMax.set($('.roboItem'), {padding:'0'})
      $(this).next('.rBody').toggle()
      TweenMax.to($('.roboItem'), 0.1, {padding:'0.8em'})
    })
    $('.roboItem.head').on('click', function(ev){
        var botId = $(this).data('bot');
        $(this).closest('.rBody').find('.roboItem').removeClass('active');
        $(this).addClass('active')
        var newBot = zord.root + botId + '/head_block.png?'

       // $.each(bas, function(ind, val){console.log(val) if(val == 'assets'){zord.curFolder = ind++}})
       $('.roboHead img').attr('src', newBot)
       // console.log(zord.base64Encode(zord.getBinary(newBot)))
      //  zord.convertImgToBase64URL(newBot, function(base64Img){
          //console.log(base64Img)
           // $('.roboHead img').attr('src', base64Img);
            /*$('.roboHead img').attr('src',"data:image/png;base64,"+zord.base64Encode(zord.getBinary(newBot)))*/
       // })
    })
    $('.roboItem.torso').on('click', function(ev){
        var botId = $(this).data('bot');
        $(this).closest('.rBody').find('.roboItem').removeClass('active');
        $(this).addClass('active')
        var newBot = zord.root + botId + '/torso_block.png'
        $('.roboTorso img').attr('src', newBot)
        zord.convertImgToBase64URL(newBot, function(base64Img){
             $('.roboTorso img').attr('src', base64Img)
          })
    })
    $('.roboItem.lArm').on('click', function(ev){
        var botId = $(this).data('bot');
        $(this).closest('.rBody').find('.roboItem').removeClass('active');
        $(this).addClass('active')
        var newBot = zord.root + botId + '/l_arm_block.png'
        $('.roboLArm img').attr('src', newBot)
        zord.convertImgToBase64URL(newBot, function(base64Img){
            $('.roboLArm img').attr('src', base64Img)
          })
    })
    $('.roboItem.rArm').on('click', function(ev){
        var botId = $(this).data('bot');
        $(this).closest('.rBody').find('.roboItem').removeClass('active');
        $(this).addClass('active')
        var newBot = zord.root + botId + '/r_arm_block.png'
        $('.roboRArm img').attr('src', newBot)
        zord.convertImgToBase64URL(newBot, function(base64Img){
            $('.roboRArm img').attr('src', base64Img)
          })
    })
    $('.roboItem.legs').on('click', function(ev){
        var botId = $(this).data('bot');
        $(this).closest('.rBody').find('.roboItem').removeClass('active');
        $(this).addClass('active')
        var newBot = zord.root + botId + '/legs_block.png'
        $('.roboLegs img').attr('src', newBot)
        zord.convertImgToBase64URL(newBot, function(base64Img){
            $('.roboLegs img').attr('src', base64Img)
          })
    })

  }
  $(function(){
    zord.init();

    var loadMeB = document.createElement('script');
    loadMeB.setAttribute("type", "text/javascript");
    loadMeB.setAttribute("src","https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js");
    document.body.appendChild(loadMeB);

    $(window).resize(function() {
        zord.resize()

    })
  })
</script>