/* General  */

.center {
  float: none!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

body#monthly-covertops {
  background: #454545;
  font-family: proxima-nova;
  padding:0;

  .mainLog {
    margin-top: 6em;

    .firstIn {
      input {
        border: none;
        position: absolute;
        top: 38%;
        left: 7%;
        width: 87%;
        height: 15%;
        padding: 5px;
        border-radius: 2px;
        color: #F97043;
        font-weight: 700;
        font-size: 2em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

      }
    }
  }

  .popOne, .popTwo, .popThree, .popFour {
    position: absolute;
    display: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .soWrong {
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: image-url('covertops/covertscreenwindow06.png') center center no-repeat;
    background-size: contain;
    height: 16em;
    line-height: 1;
    padding: 1em;
    width: 29em;
    text-align: center;
    top: -11em;
    position: relative;
    left: 36%;
    display: none;
    padding-top: 7em;
    z-index: 4;
  }
  .startScene {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 2em;
    width: 80%;
    left: 15%;
    background: image-url('covertops/clear_screen_v01.png') top center no-repeat;
    background-size: contain;
    height: 84%;

    background-size: 100% 100%;
    height: auto;
    width: auto;
    .alphaZone {
      margin-top: 4em;
    }

    .alphaGo {
      float: right;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background: image-url('covertops/covertscreenwindow07.png') center center no-repeat;
      background-size: cover;
      height: 8em;
      line-height: 7;
      padding: 1em;
      width: 17em;
      text-align: center;
      top: 1em;
      position: relative;
      left: -17em;
      display: block;
    }

  }


  .sceneTwo {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 2em;
    width: 80%;
    left: 15%;
    background: image-url('covertops/clear_screen_v01.png') top center no-repeat;
    background-size: contain;
    height: 84%;

    background-size: 100% 100%;
    height: auto;
    padding: 1em;
    .firstQuestion {
      opacity: 0;
      margin-top: 4em;
    }
    .question {

      width: 80%;
      margin: auto;

      .qHeader {
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
        color: white;
        padding-bottom: 0.42em;
        padding-top: 0.32em;
      }
      input {
        width: 100%;
        background:white;
        color: black;
        font-weight: 700;
        padding: 0.5em;
        border-radius: 2px;
        text-align: center;
      }
    }
  }

  .sceneThree {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 2em;
    width: 80%;
    left: 10%;
    background: image-url('covertops/clear_screen_v01.png') top center no-repeat;
    background-size: contain;
    height: 84%;

    background-size: 100% 100%;
    height: auto;
    padding: 1em;
    .inBumper{
      margin-bottom: 0.3em;
    }

    .goFour {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      float: right;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background: image-url('covertops/covertscreenwindow07.png') center center no-repeat;
      background-size: cover;
      height: 8em;
      line-height: 7;
      padding: 1em;
      width: 17em;
      text-align: center;
      top: 4em;
      position: relative;
      left: -17em;
      display: block;
    }
    .secondQuestion {
      opacity: 0;
      margin-top: 4em;
    }
    .question {

      width: 80%;
      margin: auto;

      .qHeader {
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
        color: white;
        padding-bottom: 0.42em;
        padding-top: 0.32em;
      }
      input {
        width: 100%;
        background:white;
        color: black;
        font-weight: 700;
        padding: 0.5em;
        border-radius: 2px;
        text-align: center;
      }
    }

  }

  .sceneFour {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 2em;
    width: 80%;
    left: 10%;
    background: image-url('covertops/clear_screen_v01.png') top center no-repeat;
    background-size: contain;
    height: 84%;

    background-size: 100% 100%;
    height: auto;
    padding: 1em;

    .thirdQuestion {
      opacity: 0;
      margin-top: 4em;
    }
    .question {

      width: 80%;
      margin: auto;

      .qHeader {
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
        color: white;
        padding-bottom: 0.42em;
        padding-top: 0.32em;
      }
      input {
        width: 100%;
        background:white;
        color: black;
        font-weight: 700;
        padding: 0.5em;
        border-radius: 2px;
        text-align: center;
      }
    }

  }

  .sceneFive {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 2em;
    width: 80%;
    left: 10%;
    background: image-url('covertops/clear_screen_v01.png') top center no-repeat;
    background-size: contain;
    height: 84%;
    background-size: 100% 100%;
    height: auto;
    padding: 1em;

    .fourthQuestion {
      opacity: 0;
      margin-top: 4em;
    }
    .question {

      width: 80%;
      margin: auto;

      .qHeader {
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
        color: white;
        padding-bottom: 0.42em;
        padding-top: 0.32em;
      }
      input {
        width: 100%;
        background:white;
        color: black;
        font-weight: 700;
        padding: 0.5em;
        border-radius: 2px;
        text-align: center;
      }
    }

  }

  .winScene {
    display: none;
    position: absolute;
    top: 6em;
    width: 80%;
    left: 10%;

    .winZone {
      opacity: 0;
    }


  }

  .firstPanel {
    max-width: 100%;
  }
  .cBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: red;
  }
}