#monthly-cyber_exp { 
  background:#e0e0e0;
  overflow-y: hidden; 
  overflow: hidden;
  /* General  */

    .pointer {
      cursor: pointer;
    }
  /*  */
  .cyberMain {
    overflow: visible;
  }

  .bgColorHit {
    background: white;
    height: 50em;
    top: 70em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    margin-top: 60em;

  }
  .startScan {
    width: 140px;
    margin: auto;
    text-align: center;
    margin-top: 3em;
    background-color: #ff6161;
    color: white;
    padding: 1em;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
  }

  .cyberTempText {
    margin-top: 2em;
    font-weight: 600;
    color: #A8A8A8;
  }

  .cyberTops {
    margin-top: 1em;
    margin-bottom: 1em;
    .left {
      float: left;
    }
    .right{
      float: right;
    }
    .betaPad {
      padding-top: 20px;
    }
  }

  .cyberCrate {
    margin-top: 2.5em;
  }

  .repScan {
    margin-top: 58em;
    height: 58em;
    
    
    .iCamBar {
      position: absolute;
      top: -13em;
      left: 22em;

      .iCam {
        position: absolute;
        right: -11em;
        top: -20em;
        .iCamLight {
          position: absolute;
          top: 1.6em;
          left: 5em;
          opacity: 0;
        }
        .iCamLense {
          position: absolute;
          top: 0;
          z-index: -1;
        }
      }
      .iGate {
        position: absolute;
        top: 2em;
        left: 7.48em;
        z-index: -1;
      }
    }
    .iPump {
      position: absolute;
      top: -28em;
      z-index: -1;
    }


    .iDevice {
      position: relative;
      z-index: -1;
      
      .iEyeBg {
        position: absolute;
        top: 18em;
        width: 15em;
        left: 1.42em;
        overflow: hidden;
        .iEye {
          position: absolute;
          top: 0;
          right: 1em;
          width: 100%;
        }
        .iEyeScreen {
          position: absolute;
          top: 0;
        }
      }
      .iMainScreen {

      }
      .iMainSheen {
        position: absolute;
        top: 22.4em;
        left: 7.68em;
        width: 43.4em;
        z-index: 5;
      }

    }


  }

  .iScreen{
    .iEnter {
      position: absolute;
      top: 48em;
      z-index: 3;
      color: #48ff00;
      right: 10em;
      font-weight: 600;
      opacity:0;
    }
    .iShare {
      position: absolute;
      top: 40em;
      z-index: 3;
      color: #48ff00;
      right: 10em;
      font-weight: 600;
      opacity:0;
      .fbP, .twtP {
        font-size: 2em;
        margin: 0.4em;
      }
    }
    .iBegin {
      position: absolute;
      top: 38em;
      z-index: 3;
      color: #48ff00;
      right: 10em;
      font-weight: 600;
      opacity:0;
      }
      #waves {
        width: 300px;
        height: 100px;
        position: absolute;
        top: 45em;
        right: 3em;
      }
      .waveLine {
        position: absolute;
          background-color: #242424;
          top: 48.5em;
          width: 34em;
          height: 0.0951em;
          right: 24.4em;
      }
    .iQuestion {
      line-height: 2;
      color:#48ff00;
      position: absolute;
      top: 0;
      z-index: 3;
      top: 30em;
      left: 19em;
      font-weight: 600;
      max-width: 40em;
    }
    .iOptions {
      opacity: 0;
      position: absolute;
      top: 38em;
      z-index: 3;
      color: #48ff00;
      left: 19em;
      font-weight: 600;
      max-width: 40em;
      border-top: 1px solid rgba(109, 255, 15, 0.15);
      padding-top: 0.2em;
      border-bottom: 1px solid rgba(19, 249, 19, 0.24);
      padding-bottom: 0.2em;
      li {
        z-index: 6;
        position: relative;
        line-height: 1.62;
        .xZone {
          opacity: 0;
        }
        &.active, &:hover {
          opacity: 1;
          .xZone {
            opacity: 1;
          }
        }
      }
    }
  }

  .repPrinter {
    left: 5em;
    position: relative;
    width: 62.5em;
    margin-top: -2em;
    margin-bottom: 5em;
    .printLights {
     position: absolute;
     top: 4.85em;
     left: 27.62em;
     width: 7em;
     opacity: 0;
    }
    .printZone {
      position: absolute;
      top: 6em;
      right: 3.76em;
      width: 21.7em;
      height: 30em;
      overflow: hidden;
      .pSheet {
        width: 100%;
        background: #e9e9e9;
        position: absolute;
        top:-19em;
        height: 20em;
        z-index: 2;
        .pText {
          padding-left: 40%;
          padding-top: 3em;
        }
        .pResults {
          padding-left: 40%;
          color: red;
          font-size: 2em;
        }
      }
      .pGrade {
        z-index: 3;
        position: relative;
      }
    }
  }
  @media (min-width: 1050px){
    .deskExperience {
      display: none;
    }
  }
  @media (max-width: 1050px){
    .deskExperience {
      margin-top: 2em;
      font-size: 1.6em;
      font-weight: 600;
      text-align: center;
      display: block;
    }
    .startScan {
      display: none;
    }
    .repScan, .repPrinter, .iScreen {
      display: none;
    }
  }
}

