#monthly-cyber_contest { 
  .cyberHero {
    position: absolute;
    top: 0;
    width: 111%;
    left: -73%;
    width: 111%;
    left: -85%;
    @media (max-width: 768px){
      display: none;
    }
  }
  & {
    padding: 0;
  }

  .gleamGal {
     max-height: 60em;
     min-height: 750px!important;
     iframe {
      min-height: 750px!important;
     }
  }
  .munnyContainer .pane3 .prizeHeader {
    margin-bottom: 0.8em;
  }
  .munnyContainer .pane1 {
    height: 700px;
  }

  .munnyContainer .pane6 .tranAnchor {
    position: absolute;
    z-index: 3;
    top: -40em;
    left: 54%;
    margin-left: -172px;
    
    position: absolute;
    z-index: 3;
    top: -40em;
    left: 57%;
    margin-left: -296px;
  }

}