<div class="white-bg">

<div class="container">
  <div class="row">
    <div class="col-sm-12 align-center">
      <h1><span>CONTEST WINNERS!</span><br></h1>
        <h4>UPDATED MONTHLY!</h4>
    </div>
  </div>
</div>

<div class="container base">

   <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2"> 
        <strong class="winner">Sophie L.</strong>
      </div>
      <div class="col-sm-2"> 
      <strong>1 Year of Loot</strong>
      </div>
      <div class="col-sm-2"> 
        <p>5/20/2015</p>
      </div>
      <div class="col-sm-6"> 
        1 year subscription
      </div>
    </div>
  </div> 

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2"> 
        <strong class="winner">Hannah S.</strong>
      </div>
      <div class="col-sm-2"> 
      <strong>May Mega Crate</strong>
      </div>
      <div class="col-sm-2"> 
        <p>5/22/2015</p>
      </div>
      <div class="col-sm-6"> 
        Team Fortress 2 Buff Banner Backpack, Team Fortress 2 Archimedes Plush, Team Fortress 2 Red Team Scarf &amp; Blu Team Scarf, Team Fortress 2 Bandolier Scarf, Team Fortress 2 Blind Box Portable Mercs 3" Vinyl Figures (Set of 12), Team Fortress 2 Vinyl Keycaps - Team Fortress 2 Logo, DC Comics A Visual History (Updated Edition), HBO's Game of Thrones: 7" Iron Throne Replica, Signed Rick and Morty script, Signed Rick and Morty skateboard, Kotobukiya ArtFX + Avengers Age of Ultron Hulkbuster Iron Man Statue, PlayStation 4 Limited Edition Batman: Arkham Knight 500GB Bundle
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2"> 
        <strong class="winner">Casey N., Malcolm B., Jack T., Ian O., Cody B., Michael G., Thomas B., Keith W., Alan G., Dana S., Ethan N., Guillermo E., Iain M., Adam R., Andy H., Jeremy W, Jennie R., Bradford M.</strong>
      </div>
      <div class="col-sm-2"> 
      <strong>May Mini Mega Crate</strong>
      </div>
      <div class="col-sm-2"> 
        <p>5/26/2015</p>
      </div>
      <div class="col-sm-6"> 
        Avengers 2 Mini Wacky Wobblers (Set of 4) &amp; Bravest Warrior Vol. 1
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2"> 
        <strong class="winner">Niki S.</strong>
      </div>
      <div class="col-sm-2"> 
      <strong>Build An Army</strong>
      </div>
      <div class="col-sm-2"> 
        <p>1st May 2015 - 20th May 2015</p>
      </div>
      <div class="col-sm-6"> 
        $1000 Amazon Gift Card
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2"> 
        <strong class="winner">Jerry S., Leslie K., Christopher L. W., Georgi A., Melissa D.</strong>
      </div>
      <div class="col-sm-2"> 
      <strong>Build An Army</strong>
      </div>
      <div class="col-sm-2"> 
        <p>1st May 2015 - 20th May 2015</p>
      </div>
      <div class="col-sm-6"> 
        Game of Thrones: Iron Throne Replica, House Banner
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Stephanie T.</strong>
      </div>
      <div class="col-sm-2">
      <strong>1 Year of Loot</strong>
      </div>
      <div class="col-sm-2">
        <p>4/21/2015</p>
      </div>
      <div class="col-sm-6">
        1 year subscription
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Wesley S.</strong>
      </div>
      <div class="col-sm-2">
      <strong>April Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>4/21/2015</p>
      </div>
      <div class="col-sm-6">
        ASUS VS248H-P 24" Full-HD LED-lit LCD Monitor x 2, Razer BlackWidow Chroma Clicky Mechanical Gaming Keyboard, Razer DeathAdder Chroma Gaming Mouse, Custom Witcher 3 Wrapped iBuyPower PC, GUNNAR Intercept Colors, EVGA GeForce GTX 980 Superclocked ACX 2.0, The Witcher 3: Wild Hunt.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Nathan Q., Nate S., Joe C., Rachel B., James D.</strong>
      </div>
      <div class="col-sm-2">
      <strong>April Mini Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>4/21/2015</p>
      </div>
      <div class="col-sm-6">
        The Lord of the Rings Extended Edition Blu-Ray Box Set, The Lord of the Rings One Ring on Chain, LEGO Lord of the Rings.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Alejandro R.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Covert Contest - Most Votes</strong>
      </div>
      <div class="col-sm-2">
        <p>4/20/2015</p>
      </div>
      <div class="col-sm-6">
        Lifetime supply of Loot Crate, GoPro HERO, 16 GB SD Card.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Zak F.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Covert Contest - Best Overall</strong>
      </div>
      <div class="col-sm-2">
        <p>4/20/2015</p>
      </div>
      <div class="col-sm-6">
        Lifetime supply of Loot Crate, GoPro HERO, 16 GB SD Card.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Nick T.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Covert Contest - Best Produced</strong>
      </div>
      <div class="col-sm-2">
        <p>4/20/2015</p>
      </div>
      <div class="col-sm-6">
        Year Supply of Loot Crate, GoPro HERO, 16 Gig SD Card.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Charles B.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Covert Contest - Best Kid</strong>
      </div>
      <div class="col-sm-2">
        <p>4/20/2015</p>
      </div>
      <div class="col-sm-6">
        Year Supply of Loot Crate, GoPro HERO, 16 Gig SD Card.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Sana A.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Covert Contest - Best Animated</strong>
      </div>
      <div class="col-sm-2">
        <p>4/20/2015</p>
      </div>
      <div class="col-sm-6">
        Year Supply of Loot Crate, GoPro HERO, 16 Gig SD Card.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Mccaela G.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Covert Contest - Best Home Video</strong>
      </div>
      <div class="col-sm-2">
        <p>4/20/2015</p>
      </div>
      <div class="col-sm-6">
        Year Supply of Loot Crate, GoPro HERO, 16 Gig SD Card.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Sarah M.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Most Votes</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, $500, 1 year of loot/extension w/ Looter shirt.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Julissa L.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Judges Pick</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, 6 months of loot/extension, $100 amazon gift card.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Herbie C.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Best Basic</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, Copic Marker Set, Wacom Capture Pen and Touch.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Jacob N.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Best Kid Design</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, Minecraft/Toki­Doki/Kidrobot gift set.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Jordy</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Best hero/villain​</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, B&amp;W Batman or Harley Quinn statue (winners choice).
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Rodrigo R.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Best Lookalike</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, Canon SELPHY phone color printer.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Anthony B.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Most Fashionable</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, Dress form small/medium (winner selection).
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">VooDooVal</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Best Video Game</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, Pair of astro A30 wired headset with Loot Crate tag set.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Marianne R.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Best Modified</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, steam punk modified nerf gun.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Daniel C.</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show Me the Munny - Most Resourceful</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        Super iam8bit, Hohokum Almanac, 7” munny, 6 months of loot/extension.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Jessica M.</strong>
      </div>
      <div class="col-sm-2">
      <strong>1 Year of Loot</strong>
      </div>
      <div class="col-sm-2">
        <p>3/20/2015</p>
      </div>
      <div class="col-sm-6">
        1 year subscription.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Matt P.</strong>
      </div>
      <div class="col-sm-2">
        <strong>March Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>3/18/2015</p>
      </div>
      <div class="col-sm-6">
        Razer Blade full HD Gaming Laptop, a GAEMS M155 Performance Gaming Monitor + Backpack Bundle and a Motorola Moto 360 Smart Watch.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Jonathan B., Shelby H., Eduardo M., Nathan C., Vidal S., Beverly S., Elisha J., Kyle A., Cara R., Christopher A., Carson B., David D., Donovan I., Kimberly H., Jason W., Torrey B., Emily R., Christopher D., Michael L., Jason L., Taylor B., Matthew G., Beth R., Brandon F., Jennifer D., Erin A., Dr Legend, Hannah S., Allison E., Andrew B.</strong>
      </div>
      <div class="col-sm-2">
      <strong>March Mini Mega Crates</strong>
      </div>
      <div class="col-sm-2">
        <p>3/18/2015</p>
      </div>
      <div class="col-sm-6">
        Archer Sterling Archer Plush Figure &amp; How to Archer: The Ultimate Guide to Espionage and Style and Women and Also Cocktails Ever Written
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Dain Eaton</strong>
      </div>
      <div class="col-sm-2">
      <strong>1 Year of Loot</strong>
      </div>
      <div class="col-sm-2">
        <p>2/23/2015</p>
      </div>
      <div class="col-sm-6">
        1 year subscription
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Anthony R.</strong>
      </div>
      <div class="col-sm-2">
      <strong>February Refer-A-Thon</strong>
      </div>
      <div class="col-sm-2">
        <p>2/21/2015</p>
      </div>
      <div class="col-sm-6">
        Console of Choice
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">David B., Paul C., Jacob M., Rachel L.</strong>
      </div>
      <div class="col-sm-2">
      <strong>February Refer-A-Thon</strong>
      </div>
      <div class="col-sm-2">
        <p>2/21/2015</p>
      </div>
      <div class="col-sm-6">
        Two-Foot Furry Chewbacca Plush
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Andy Q., Matthew T., Chris J., Sara M., Ryan J.</strong>
      </div>
      <div class="col-sm-2">
      <strong>February Refer-A-Thon</strong>
      </div>
      <div class="col-sm-2">
        <p>2/21/2015</p>
      </div>
      <div class="col-sm-6">
        $50 Amazon Gift Card
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Heath Williams</strong>
      </div>
      <div class="col-sm-2">
      <strong>DIY Comic Note Book</strong>
      </div>
      <div class="col-sm-2">
        <p>2/18/2015</p>
      </div>
      <div class="col-sm-6">
        Best Story - $500 &amp; 6 Month Free Loot Crate&trade; Extension
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Nina Stowers</strong>
      </div>
      <div class="col-sm-2">
      <strong>DIY Comic Note Book</strong>
      </div>
      <div class="col-sm-2">
        <p>2/18/2015</p>
      </div>
      <div class="col-sm-6">
        Best Art - $500 &amp; 6 Month Free Loot Crate&trade; Extension
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Christopher Rien</strong>
      </div>
      <div class="col-sm-2">
      <strong>DIY Comic Note Book</strong>
      </div>
      <div class="col-sm-2">
        <p>2/18/2015</p>
      </div>
      <div class="col-sm-6">
        Best Overall - $1,000 &amp; 1 Year Free Loot Crate&trade; Extension + Signed Stan Lee Figure + Feature in March’s Magazine
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Bridget Amaral</strong>
      </div>
      <div class="col-sm-2">
      <strong>Show us Retro Gear!</strong>
      </div>
      <div class="col-sm-2">
        <p>1/19/2015</p>
      </div>
      <div class="col-sm-6">
        $300 Amazon Giftcard
      </div>
    </div>
  </div>
<!--- Updates 3/03/15 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Michelle B.</strong>
      </div>
      <div class="col-sm-2">
      <strong>February Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>2/20/2015</p>
      </div>
      <div class="col-sm-6">
        DJI Phantom 2 Vision Quadcopter, Dremel Idea Builder 3D Printer, the Oculus Rift Development Kit 2, LEGO Minecraft Crafting Box, LEGO Minecraft The Mine, LEGO Minecraft The Ender Dragon.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Michelle B.</strong>
      </div>
      <div class="col-sm-2">
      <strong>January Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>1/20/2015</p>
      </div>
      <div class="col-sm-6">
        HP Stream 13" Laptop, Toynami Diecast Chogokin Voltron, LEGO Star Wars Death Star, Canon EOS Rebel T5i with EF-S 18-55mm f/3.5-5.6 IS STM Lens+, Hyperkin RetroN 5 Retro Video Gaming System, Star Wars: The Complete Saga.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Mary R.</strong>
      </div>
      <div class="col-sm-2">
      <strong>December Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>12/20/2014</p>
      </div>
      <div class="col-sm-6">
        75 Years of Marvel Comics: From the Golden Age to the Silver Screen book, Batarang full-scale replica, xbox one and playstation 4, The Simpsons House Lego Set, POP! Movies Ghostbuster Set.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Connor Billis</strong>
      </div>
      <div class="col-sm-2">
      <strong>November Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>11/20/2014</p>
      </div>
      <div class="col-sm-6">
        Super Smash Bros. for Wii U, Super Mario 3D World Deluxe Set, Super smash Bros. for Nintendo 3DS, Nintendo 3DS System, amiibo, DXRacer F-Series Chair, PDP Afterglow Headset, PDP Wired Fight Pad.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Shannon Sutherland, Jake Ranson, Sean Lawrence, Danielle N. Degele-Mathews, Carly Wagner, Sean M Brewer, Melissa, Justin Kangas, Patrick Davis, DeWayne Cameron, Theresa Labreglio, Steve Valentine, Ruben Alcivar, Bossk Man, Ashley Johnson</strong>
      </div>
      <div class="col-sm-2">
      <strong>November Mini Mega Crates</strong>
      </div>
      <div class="col-sm-2">
        <p>11/20/2014</p>
      </div>
      <div class="col-sm-6">
        Super Mario 3D World Deluxe Set, Super Smash Bros for Wii U
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Cooper P.</strong>
      </div>
      <div class="col-sm-2">
      <strong>October Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>10/20/2014</p>
      </div>
      <div class="col-sm-6">
        Squid Grips w/controller. Astro A50 Wireless system, Origin Millenium PC, Gunnar Vayper Eyewear, Gunnar Zip-up Hoodie, Gamefly 6-month Subscription
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Sharder I, Dani Jones, Justin Blaske, Eric Natter, Jason Batsford, Sebastian Miller, Adrian Mennie, Alyssa Collado, Heather Threadgill</strong>
      </div>
      <div class="col-sm-2">
      <strong>October Mini Mega Crates</strong>
      </div>
      <div class="col-sm-2">
        <p>10/20/2014</p>
      </div>
      <div class="col-sm-6">
        Astro A30 Headset in white, Squid Grip with RGB Badges, Gunnar Beanie, Origin PC T-Shirt
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <strong class="winner">Nathanael T.</strong>
      </div>
      <div class="col-sm-2">
      <strong>September Mega Crate</strong>
      </div>
      <div class="col-sm-2">
        <p>9/20/2014</p>
      </div>
      <div class="col-sm-6">
        Star Trek Borg Cube Fridge, Star Wars Interactive R2-D2 Astromech Droid Robot, Mal Reynolds' Metal-plated pistol replica, Serenity Little Damn Serenity Maquette, Go Pro Hero3+ Black Edition
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">
        Derek M,
        Shauna C,
        Johnathon H,
        Brian S,
        Donald C,
        Robert R,
        Nigel F,
        Charlotte A,
        Caitlin M,
        Zak H.
      </strong>
    </div>
    <div class="col-sm-2">
    <strong>August Mini Mega Crates</strong>
    </div>
    <div class="col-sm-2">
      <p>8/3/2014</p>
    </div>
    <div class="col-sm-6">
      NVIDIA SHIELD Tablet Kit
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">Christopher B.</strong>
    </div>
    <div class="col-sm-2">
    <strong>August Mega Crate</strong>
    </div>
    <div class="col-sm-2">
      <p>8/25/2014</p>
    </div>
    <div class="col-sm-6">
      Cubify 3D Printer, Cubify 3D Scanner, LEgo Superheroes Milano Spaceship Set, Lego Superheroes Knowhere Escape Set, Capcom Megaman Statue
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">Vincent Kittrell</strong>
    </div>
    <div class="col-sm-2">
    <strong>Show Us Your Loot! Instagram Contest</strong>
    </div>
    <div class="col-sm-2">
      <p>7/21/2014</p>
    </div>
    <div class="col-sm-6">
      $500 Amazon Gift Card!
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Nathan Copeland</strong>
      </div>
      <div class="col-sm-2">
      <strong>Summer of Loot</strong>
      </div>
      <div class="col-sm-2">
      <p>7/21/2014</p>
      </div>
      <div class="col-sm-6">
      60" LG 1080p 120Hz LED TV &amp; Xbox One
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">Amanda Metcalf</strong>
    </div>
    <div class="col-sm-2">
    <strong>Jazwares Wednesday</strong>
    </div>
    <div class="col-sm-2">
      <p>7/02/2014</p>
    </div>
    <div class="col-sm-6">
      Minecraft Figure
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">KoRayja Foster</strong>
    </div>
    <div class="col-sm-2">
    <strong>Funko Friday</strong>
    </div>
    <div class="col-sm-2">
      <p>6/06/2014</p>
    </div>
    <div class="col-sm-6">
      3 Pulp Fiction POP! Vinyls
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">Michael Moore</strong>
    </div>
    <div class="col-sm-2">
    <strong>Show Your Looter Love!</strong>
    </div>
    <div class="col-sm-2">
      <p>6/02/2014</p>
    </div>
    <div class="col-sm-6">
      Watch Dogs Collector's Edition
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">Ruve</strong>
    </div>
    <div class="col-sm-2">
    <strong>Funko Friday</strong>
    </div>
    <div class="col-sm-2">
      <p>5/30/2014</p>
    </div>
    <div class="col-sm-6">
      3 Horror POP! Vinyls
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <strong class="winner">Jacob Summerville</strong>
    </div>
    <div class="col-sm-2">
    <strong>May Mega Crate</strong>
    </div>
    <div class="col-sm-2">
      <p>5/29/2014</p>
    </div>
    <div class="col-sm-6">
      Parrot AR Drone, Ipod Touch, Zelda: Link Figure, Finn Sword, Minecraft Pick/Sword, Minecraft Torch, Minecraft Plush Set, Minecraft Cube, The Adventure Time Encyclopedia, The Legend of Zelda : Hyrule Historia, Adventure Time Finn Hooded Backpack
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Aly Margeson</strong>
      </div>
      <div class="col-sm-2">
      <strong>Funko Friday</strong>
      </div>
      <div class="col-sm-2">
      <p>5/23/2014</p>
      </div>
      <div class="col-sm-6">
      4 TMNT POP! Vinyls
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Daniel Gatsch</strong>
      </div>
      <div class="col-sm-2">
      <strong>Flask Giveaway</strong>
      </div>
      <div class="col-sm-2">
      <p>5/20/2014</p>
      </div>
      <div class="col-sm-6">
      Limited Edition Gold Legend of Drink Flask
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">LisaMarie Rigsby</strong>
      </div>
      <div class="col-sm-2">
      <strong>Funko Friday</strong>
      </div>
      <div class="col-sm-2">
      <p>5/16/2014</p>
      </div>
      <div class="col-sm-6">
      Agent Coulson POP! Vinyl
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Mario Quintero</strong>
      </div>
      <div class="col-sm-2">
      <strong>KontrolFreek</strong>
      </div>
      <div class="col-sm-2">
      <p>5/16/2014</p>
      </div>
      <div class="col-sm-6">
      Playstation 4
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Lauren Hearn</strong>
      </div>
      <div class="col-sm-2">
      <strong>Jazwares Wednesday</strong>
      </div>
      <div class="col-sm-2">
      <p>5/14/2014</p>
      </div>
      <div class="col-sm-6">
      Finn Slime Princess and LSP plush
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Steven Sprague</strong>
      </div>
      <div class="col-sm-2">
      <strong>Funko Friday</strong>
      </div>
      <div class="col-sm-2">
      <p>5/9/2014</p>
      </div>
      <div class="col-sm-6">
      MLB Orbit, Wally, and Phillie POP! Vinyls
      </div>
    </div>
  </div>


<!--- OLD WINNERS -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Cristina Bernabe</strong>
      </div>
      <div class="col-sm-2">
      <strong>Funko Friday</strong>
      </div>
      <div class="col-sm-2">
      <p>5/2/2014</p>
      </div>
      <div class="col-sm-6">
      Supernatural POPs
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Heather LaSeur</strong>
      </div>
      <div class="col-sm-2">
      <strong>Jazwares Wednesday</strong>
      </div>
      <div class="col-sm-2">
      <p>4/30/2014</p>
      </div>
      <div class="col-sm-6">
      Minecraft Chest, Creeper, and Enderman
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Kristopher Mathison</strong>
      </div>
      <div class="col-sm-2">
      <strong>Jazwares Wednesday</strong>
      </div>
      <div class="col-sm-2">
      <p>4/16/2014</p>
      </div>
      <div class="col-sm-6">
      Adventure Time Sword
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Justin Knowles</strong>
      </div>
      <div class="col-sm-2">
      <strong>Funko Friday!</strong>
      </div>
      <div class="col-sm-2">
      <p>4/12/2014</p>
      </div>
      <div class="col-sm-6">
      Ghostbusters POP! Vinyls Set
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Josh Hargrove</strong>
      </div>
      <div class="col-sm-2">
      <strong>April Mini Mega Crate</strong>
      </div>
      <div class="col-sm-2">
      <p>4/30/2014</p>
      </div>
      <div class="col-sm-6">
      Astro Gaming Bundle
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Jennifer Ball</strong>
      </div>
      <div class="col-sm-2">
      <strong>Jazwares Wednesday </strong>
      </div>
      <div class="col-sm-2">
      <p>4/11/2014</p>
      </div>
      <div class="col-sm-6">
      Minecraft Storage Chest, Creeper, and Enderman
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Tyler Lindahl</strong>
      </div>
      <div class="col-sm-2">
      <strong>March Mega Crate</strong>
      </div>
      <div class="col-sm-2">
      <p>3/25/2014</p>
      </div>
      <div class="col-sm-6">
      Titanfall Collectors Set, Titanfall Strategy Guide, Attack on Titan Backpack, Yoshi 3DS XL, and an Amazon Kindle HD!
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Dezarae McMillan</strong>
      </div>
      <div class="col-sm-2">
      <strong>Funko Friday</strong>
      </div>
      <div class="col-sm-2">
      <p>3/14/2014</p>
      </div>
      <div class="col-sm-6">
      Game of Thrones Minis
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Jacob Baker</strong>
      </div>
      <div class="col-sm-2">
      <strong>Titanfall Giveaway Instagram</strong>
      </div>
      <div class="col-sm-2">
      <p>3/13/2014</p>
      </div>
      <div class="col-sm-6">
      Game, Lanyard, 3 Patches, Strategy Guide
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Christina Bandy</strong>
      </div>
      <div class="col-sm-2">
      <strong>Jazwares Wednesday</strong>
      </div>
      <div class="col-sm-2">
      <p>3/12/2014</p>
      </div>
      <div class="col-sm-6">
      Minecraft Chest
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Jesse Baynes</strong>
      </div>
      <div class="col-sm-2">
      <strong>Titanfall Giveaway FB</strong>
      </div>
      <div class="col-sm-2">
      <p>3/11/2014</p>
      </div>
      <div class="col-sm-6">
      Titanfall Game, Lanyard, 3 Patches, Controller
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Brooke Hubbert</strong>
      </div>
      <div class="col-sm-2">
      <strong>Titanfall Giveaway Twitter</strong>
      </div>
      <div class="col-sm-2">
      <p>3/10/2014</p>
      </div>
      <div class="col-sm-6">
      Titanfall Game, Lanyard, 3 Patches
      </div>
    </div>
  </div>

<!--- Winner 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      <strong class="winner">Frankie Kuang</strong>
      </div>
      <div class="col-sm-2">
      <strong>Funko Friday</strong>
      </div>
      <div class="col-sm-2">
      <p>3/1/2014</p>
      </div>
      <div class="col-sm-6">
      Batman, Yoda, Daenerys
      </div>
    </div>
  </div>
</div>



<!--
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="one"><span>CONTEST DETAILS!</span><br></h1>
        <h1 class="two">ENTER TO WIN!</h1>
    </div>
  </div>
</div>

<div class="container base hidden-xs spacer">
  <div class="row">
    <div class="col-sm-12 howitworks-header">
    CONTEST FAQ
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>Occasionally we give away free stuff for joining the fun on Facebook. Read our simple guidelines below and get started!</p>
      <ul class="crateitems">
            <li>You must Like and Comment on the post in order to be eligible to win.</li>
            <li>Sharing is not required to participate in the Contest.</li>
            <li>Winners will be posted on our website, in the Contest Winners section.</li>
            <li>There is no limit to how many times you can win. </li>
            <li>Prizes are subject to change. A prize of comparable or higher value will be awarded instead.</li>
            <li>By participating, you fully release Facebook from any liability for every contest you enter that is associated with Loot Crate Contests and Giveaways.</li>
            <li>The Contests and Giveaways on the Loot Crate page are in no way sponsored, endorsed or administered by Facebook.</li>
            <li>These rules can be modified and changed by Loot Crate at any time in order to conform to Facebook Promotion Guidelines.</li>
          </ul>
    </div>
  </div>
</div>
-->

</div>