/*
 * main contests layout
 */

@import 'main';

body {
  background: $background-gray;
  font-family: proxima-nova;
  font-weight: 300;
  overflow-x: hidden;
  padding-top: 0;
  overflow-x: hidden;
  margin: 0;

  .navbar {
    &.navbar-fixed-top {
      padding: 0;
    }

    .container {
      width: 100%;
    }
  }
}

ul {
  li {
    list-style-type: none;
    line-height: 20px;
  }
}