<div id="level-up-thanks">
  <div class="col-sm-4 hidden-xs">
    <img src="<%= image_path("levelup/lvl-thanks.jpg") %>" class="img-responsive" />
  </div>
  <div class="col-sm-8">
    <h1><%= t('level_up.payment_completed.headline').html_safe %></h1>
    <%= t('level_up.payment_completed.payment_completed_content').html_safe %>
  </div>
</div>