<div class='modal update fade' id='namechange_modal' tabindex='-1' role='dialog' aria-hidden='true'>
 <div class='modal-dialog'>
    <div class='modal-content'>

      <div class='modal-header'>
        <div class='modal-close' data-dismiss='modal'>
          <i class='fa fa-times'></i>
        </div>
        <div class='cart-modal-title'>
          <strong><%= t('user_accounts.modals.name.title') %></strong>
        </div>
      </div>

      <div class='modal-body'>
        <%= form_for('user', :url => user_account_path(current_user), :method => :put) do |f| %>
          <div  class='field'>
            <%= f.text_field :full_name, value: current_user.full_name %>
          </div>
          <%= f.submit t(:update), class: 'btn btn-secondary pull-left'  %>
        <% end %>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>