<div class="modal fade" id="newsletter-signup-result" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </div>

        <p class="wf-logo"></p>
          <div id="newsletter-signup-result-message">
          </div>
        <p class="wf-privacy">100% privacy guaranteed. <a target="_blank" href="http://www.lootcrate.com/privacy_policy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
