<div class="modal fade" id="wf-newsletter-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </div>
        <p class="wf-logo"></p>
        <h4><%= t('newsletter.modal.title').html_safe %></h4>
        <div class="wf-modal-form">
          <form     action="/newsletter_signup"
                    method="post"
                    id="mc-modal-subscribe-form"
                    name="mc-modal-subscribe-form"
                    class="validate"
                    role="form"
                    target="_blank">

            <input class="dark-field"
                    type="email"
                    name="email"
                    id="modal-mce-email"
                    required
                    placeholder = "<%= t('newsletter.modal.placeholder') %>"  />

                    <br />

            <input  class="btn-select"
                    type="submit"
                    value="<%= t('newsletter.modal.send_me_exclusive_deals') %>"
                    name="submit"
                    id="modal-mc-embedded-subscribe" />

            <input  type="hidden"
                    value="website modal"
                    name="col-source"
                    class=""
                    id="mce-modal-col-source" />
          </form>
        </div>
        <p class="wf-privacy"><%= t('newsletter.modal.privacy').html_safe %></p>
      </div>
    </div>
  </div>
</div>
