<table>
  <tr>
    <td colspan=2>Promotion Details</td>
  </tr>
  <tr>
    <th style="text-align: right">Name</th>
    <td><%= promotion.name %></td>
  </tr>
  <tr>
    <th style="text-align: right">Description</th>
    <td><%= promotion.description %></td>
  </tr>
  <tr>
    <th style="text-align: right">Starts</th>
    <td><%= promotion.starts_at %></td>
  </tr>
  <tr>
    <th style="text-align: right">Ends</th>
    <td><%= promotion.ends_at %></td>
  </tr>
</table>
