<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>Failed coupon code generation for promotion.</p>
    <p> <%= link_to 'Attempt to Generate Coupons Again', new_coupons_admin_promotion_url(@promotion) %> </p>
    <%= render partial: 'promo_mailer/promotion', locals: {promotion: @promotion} %>
  </body>
</html>
