<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>Completed coupon code generation for promotion. See attached document for list of codes.</p>
    <%= render partial: 'promo_mailer/promotion', locals: {promotion: @promotion} %>
  </body>
</html>
