<div class="subscriptions-bg">
  <div class="container">
    <div class="row planBoxTarget">

      <%= plan_boxes_by_country(get_region) %>
      <!-- COUNTRY SWITCHER -->

    </div>
  </div>
</div>

