<div class="modal learnmore-modal fade" tabindex="-1" role="dialog" id='learnmore_modal_<%= plan.id %>' data-button="#plan_learnmore_<%= plan.id %>" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <div class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </div>

        <div class='subscription_content modal-content-box'>
          <%= render partial: "welcome/learnmore/#{learnmore_international_filter}/#{plan.period.humanize}_month_subscription" %>
        </div>
      </div>
    </div>
  </div>
</div>
