
	<div class="mainrow">
		<a name="megacrate"><h1>HOW TO WIN BIG</h1></a>
		<h2>MONTHLY MEGA CRATE</h2>
		<div class="megacratedescbox">
			<div class="rowowgreyheaderlong">
				<h3>HOW TO ENTER THE MEGA CRATE RAFFLE</h3>
			</div>
			<div class="clear"></div>
			<div class="megacratedescmaingraphic">
				<%=image_tag("megacrateforklift.png")%>
			</div>
			<div class="megacratedescsummary">
				<div>
					<p>Every month, a lucky member wins a <span class="lootcrate-orange">MEGA CRATE, valued at over $2,000.</span> The contents include the hottest technology gadgets, new games, beta keys, signed collectibles, and more!<br><br>
					Previous Mega Crates:</p>
				</div>
				<div class="clear"></div>
				<div>
					<ul>
						<li>Halo 4 Modded XBOX 360 Bundle</li>
						<li>Ipod Nano + Themed Sets from gifts.lootcrate.com</li>
						<li>The GAEMS G155 Personal Gaming Environment</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
