<p class="chart-trigger">T-shirt sizing chart <a href="#" class="circle circle-question-mark" id="tshirt-popover" data-original-title="" title="">i</a></p>
<div id='tshirt-popover-content'>
  <%= t('level_up.sizing_chart.sizing_chart_content').html_safe %>
</div>