/*
 * mixins
 */

@mixin custom-transition($elements, $speed, $type) {
  -webkit-transition: $elements $speed $type;
  -moz-transition:    $elements $speed $type;
  -o-transition:      $elements $speed $type;
  transition:         $elements $speed $type;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin opacity-transparent {
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
}

@mixin opacity-opaque {
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
}

@mixin self-clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin icon-after($icon) {
  & > a:after {
    font-family: "lootcrate-icons";
    content: $icon;
    text-align: right;
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    width: 1em;
    height: 14px;
    line-height: 45px;
    text-align: center;
    right: 21px;
  }
}

@mixin modal-width($width) {
  width: $width;
  left: 50%;
  margin-left: -($width/2);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin static_pages {
  .col-md-9 {
    float: left;
    padding-right: 0;

    h1, p {
      padding: 0;
      margin: 0 0 20px 0;
    }

    h1 {
      line-height: 1em;
      margin: 0 0 20px 0;
      font-size: 38.5px;
    }
  }
}

// Blink mixin
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
}

@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
     -moz-animation-timing-function: $timing-function;
       -o-animation-timing-function: $timing-function;
          animation-timing-function: $timing-function;
}

@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
     -moz-animation-iteration-count: $iteration-count;
       -o-animation-iteration-count: $iteration-count;
          animation-iteration-count: $iteration-count;
}

@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}

@include keyframes(change_background_color) {
  to {
    color: $orange;
  }
}

@mixin pulsate($time: 0.2s, $count: 8) {
  @include animation-name(change_background_color);
  @include animation-duration($time);
  @include animation-iteration-count($count);
  @include animation-direction(alternate);
  @include animation-timing-function(ease-in-out);
}

.blink-blink {
  @include pulsate(1s, 16);
}

