/*
 * Validations
*/

@mixin valid {
  input.valid {
    background-image: image-url('valid.png') !important;
    background-repeat: no-repeat !important;
    background-position: top right !important;
    background-size: 40px 40px !important;
  }
}

@mixin error {
  input.error {
    border: 4px solid $red !important;
    background-image: image-url('invalid.png');
    background-repeat: no-repeat !important;
    background-position: top right !important;
    background-size: 40px 40px !important;

    &:not(label) {
      background-image: image-url('invalid.png') !important;
    }
  }

  label.error {
    display: none !important;
  }

  .select2 {
    &.error {
      a {
        border: 4px solid $red !important;
      }
    }
  }

  .form-group.error input,
  .form-group.error select,
  .form-group.error textarea,
  .form-group.error .select2 {
    border: 4px solid $red !important;
    background-image: image-url('invalid.png') !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-size: 40px 40px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .form-group.error .checkbox,
  .form-group.error .radio,
  .form-group.error input,
  .form-group.error select,
  .form-group.error textarea,
  .form-group.error label,
  .form-group.error .help-inline,
  .form-group.error .help-block {
    color: $red;
  }
}