---
http_interactions:
- request:
    method: post
    uri: https://us9.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"5efbd6fac3e45048504d739a50fd587b-us9","id":"11b434baec","email":{"email":"jacklyn.franecki@watsica.biz"},"merge_vars":{"SUB_STATUS":"not_subscribed"},"double_optin":false,"update_existing":false}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"jacklyn.franecki@watsica.biz","euid":"93a871db53","leid":"256331101"}'
  recorded_at: Wed, 24 Dec 2014 23:02:32 GMT
- request:
    method: post
    uri: https://us9.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"5efbd6fac3e45048504d739a50fd587b-us9","id":"11b434baec","email":{"email":"jacklyn.franecki@watsica.biz"},"merge_vars":{"SUB_STATUS":"not_subscribed"},"double_optin":false,"update_existing":false}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '214'
    body:
      encoding: UTF-8
      string: '{"status":"error","code":214,"name":"List_AlreadySubscribed","error":"jacklyn.franecki@watsica.biz
        is already subscribed to the list."}'
  recorded_at: Wed, 24 Dec 2014 23:02:41 GMT
recorded_with: VCR 2.9.3
