---
http_interactions:
- request:
    method: post
    uri: https://us9.api.mailchimp.com/2.0/lists/update-member
    body:
      encoding: UTF-8
      string: '{"apikey":"5efbd6fac3e45048504d739a50fd587b-us9","id":"11b434baec","email":{"email":"hai.nguyen+a101@lootcrate.com"},"merge_vars":{"SUB_STATUS":"active"},"double_optin":false,"update_existing":true}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"hai.nguyen+a101@lootcrate.com","euid":"ca1dea7b53","leid":"237894765"}'
  recorded_at: Thu, 25 Dec 2014 03:34:18 GMT
recorded_with: VCR 2.9.3
