---
http_interactions:
- request:
    method: post
    uri: https://us9.api.mailchimp.com/2.0/lists/update-member
    body:
      encoding: UTF-8
      string: '{"apikey":"5efbd6fac3e45048504d739a50fd587b-us9","id":"11b434baec","email":{"email":"jeffects99999999@lootcrate.com"},"merge_vars":{"SHIRT_SIZE":"M
        M","COUNTRY":"US","PERIOD":1,"SUB_STATUS":"active"},"double_optin":false,"update_existing":false}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '232'
    body:
      encoding: UTF-8
      string: '{"status":"error","code":232,"name":"Email_NotExists","error":"There
        is no record of the email address \"jeffects99999999@lootcrate.com\" in your
        account"}'
  recorded_at: Tue, 13 Jan 2015 19:38:02 GMT
recorded_with: VCR 2.9.3
