---
http_interactions:
- request:
    method: post
    uri: https://us9.api.mailchimp.com/2.0/lists/update-member
    body:
      encoding: UTF-8
      string: '{"apikey":"5efbd6fac3e45048504d739a50fd587b-us9","id":"11b434baec","email":{"email":"hai.nguyen+d1@lootcrate.com"},"merge_vars":{"SHIRT_SIZE":"M
        L","COUNTRY":"US","PERIOD":1,"SUB_STATUS":"active"},"double_optin":false,"update_existing":false}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '215'
    body:
      encoding: UTF-8
      string: '{"status":"error","code":215,"name":"List_NotSubscribed","error":"The
        email address \"hai.nguyen+d1@lootcrate.com\" does not belong to this list"}'
  recorded_at: Tue, 13 Jan 2015 02:30:16 GMT
recorded_with: VCR 2.9.3
