// Fonts
$baseBtnFontSize: 24px;
$baseBtnFontWeight: 600px;

// Colors
$orange: #ff5f00;
$gray: #cfcdd4;
$background-gray: #eff0f5;
$background-gray-orange: #e8e6ec;
$white: #ffffff;
$red: #f24242;
$selected: #252526;
$dropdown-bg: rgba(57,56,59,.98);
$mega-hover-bg: rgba(57,56,59,.95);
$red: #f34141;

$green: #47cb28;
$gray-footer: #444346;
$gray-8: #dedede;
$gray-7: #d5d6dc;
$gray-6: #242425;
$gray-5: #9e9ca6;
$gray-4: #eff0f5;
$gray-3: #e8e6ec;
$gray-2: #7c7a80;
$gray-1: #323133;
