<div class='referathon-bg'>
  <div class='container'>
    <div class='row'>
      <div class='referathon-logo'>
        <%= image_tag("referathon_cratest.png", alt: "referathon-logo", class: 'img-responsive center-block') %>
      </div>

      <div class="col-xs-1 hidden-xs"></div>
      <div class="col-sm-10 col-xs-12">
        <h3 class="referathon-header">
          <%= t('friend_share.content').html_safe %>
        </h3>
        <div class='align-center'>
          <br />
          <br />
          <%= render 'friendbuy_button' %>
          <br />
          <br />
        </div>
      </div>
      <div class="col-xs-1 hidden-xs"></div>
    </div>
  </div>
  <%#= render 'friendbuy_prizes' %>
</div>