<div id="search-container">
    <form class="form-search form-inline" role="form">
        <div class="input-append">
            <input type="text" class="search-query" placeholder="Search..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div id="titlebar_right">
  <div class="action_items">
    <span class="action_item"><a href="/admin/promotions/new">New</a></span>
  </div>
</div>
