<div class="promotion-stats black">
  <div class="row">
      <div class="col-md-3 text-center">
        <div class="promotion-stats-number"><%= promotion.total_conversions %></div>
        <div class="promotion-stats-name">CONVERSIONS</div>
      </div>
      <div class="col-md-3 text-center">
        <div class="promotion-stats-number"><%= promotion.days_active %></div>
        <div class="promotion-stats-name">DAYS ACTIVE</div>
      </div>
      <div class="col-md-3 text-center">
        <div class="promotion-stats-number">$<%= promotion.total_revenue %></div>
        <div class="promotion-stats-name">TOTAL REVENUE</div>
      </div>
      <div class="col-md-3 text-center">
        <div class="promotion-stats-number">$<%= promotion.total_savings %></div>
        <div class="promotion-stats-name">TOTAL SAVINGS</div>
      </div>
  </div>
</div>
