<script type="text/javascript" async="async">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33561868-1']);
    _gaq.push(['_setDomainName', 'lootcrate.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview', '/404.html?url=' + document.location.pathname + document.location.search + '&ref=' + document.referrer]);
</script>

<%= content_for :title, 'Error' %>

<div class='error-page-404'>
  <div class='container'>
    <div class='row bg'>

      <div class='col-md-12 col-ms-12'>
        <%= link_to root_path do %>
          <%= image_tag image_path("errors/404/hypno404.gif"), class: 'hypt img-responsive', alt:'' %>
        <% end %>
      </div>

      <div class='col-md-12 col-ms-12 hidden-xs'>
        <p><%= t('errors.page.not_found') %></p>
      </div>

    </div>
  </div>
</div>
