<script type="text/javascript" async="async">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33561868-1']);
    _gaq.push(['_setDomainName', 'lootcrate.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview', '/422.html?url=' + document.location.pathname + document.location.search + '&ref=' + document.referrer]);
</script>
<%= content_for :title, 'Error' %>

<div class="error-500 error-page" data-errorimage="<%= image_path("404/hypno404.gif") %>">
  <div class="container">
    <div class="bg">
      <img  id="error-gif" src="" alt="cat">
    </div>
    <p>
      Oh snap, something went wrong.
    </p>
  </div>
</div>
