/*
 * Modals
*/

@mixin custom-modals {
  @include error;
  @include valid;
  .modal-dialog {
    width: 100%;

    .modal-content {
      width: 100%;
      display: inline-block;
      border-radius: 0;

      .modal-header, .modal-footer {
        border: none;
        text-align: center;
      }

      .modal-header {
        .modal-close {
          position: absolute;
          top: 0;
          right: 0;
          padding: 13px 15px;
          z-index: 3;
          line-height: 1em;
          color: $background-gray-orange;

          &:hover {
            cursor: pointer;
          }

          i {
            line-height: 1em;
            font-size: 17px;
            color: inherit;
          }
        }

        h2 {
          font-size: 31.5px;
          font-weight: 300;
          margin-bottom: 16px;
          width: 90%;
          display: inline-block;
          margin-top: 0;
        }
      }

      .modal-body {
        display: inline-block;
        width: 100%;
        max-height: 600px;
        position: relative;

        .or {
          display: inline-block;
          margin-top: 16px;
          margin-bottom: 10px;
          width: 90%;
        }

        .modal-form {
          font-size: 10pt;
          color: #777777;

          form {
            margin: 0;

            input {
              width: 90%;
              margin-bottom: 16px;
              text-align: center;
              font-size: 9pt;
              font-weight: normal;
              border: 4px solid #dedede;
              background-color: #dedede;
              text-align: center;
            }

            input[type=submit] {
              background: $orange;
              color: white;
              border-color: $orange;
              margin-bottom: 0;
            }
          }
        }

        .social-signin-links {
          .fb-login {
            width: 90%;
            background: #3964b0;
            display: inline-block;
            padding-bottom: 2.2em;
            padding-top: 1.2em;
            font-weight: 300;
            letter-spacing: 3px;
            font-size: 8pt;
            line-height: 2;
            color: $white;
            border: none !important;
            height: 45px !Important;
          }
        }
      }

      .modal-footer {
        p {
          display: block;
          margin: 0;
          padding: 0;
        }
      }
      .modal-back {
        p {
          display: inline-block;
          width: 45%;
        }
        p:first-child {
          width: 25%;
        }
      }
    }
  }
}


/*  Bellow is the Newsletter fun */

#wf-newsletter-modal {
  border-radius: 3px;
  height: auto;
  text-align: center;

  p {
    color: $white !important;
  }

  p.wf-privacy {
    color: $white !important;
    margin-bottom: 40px !important;
    font-size: 11px;
    a {
      color: #f47a20 !important;
      text-decoration: underline;
    }
  }

  p.wf-logo {
    background: image-url('wf-loot-logo.png') top center no-repeat;
    color: $white !important;
    text-align: center;
    margin: 20px auto 60px auto;
    padding-top: 25px;
    @media (max-width: 468px) {
      margin: 20px auto 30px auto;
    }
  }

  h4 {
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    margin: 25px 70px;
    text-transform: uppercase;
    color: $white;
    word-spacing: 3px;
    @media (max-width: 468px) {
      margin: 0px;
      font-size:16px;
    }

    span {
      color: #f47a20;
      font-size: 35px;
      text-align: justify;
      font-weight: bold;
      word-spacing: 8px;
      @media (max-width: 468px) {
        font-size: 30px;
      }
        &.top {
          word-spacing: 20px;
          position: relative;
          left: -6px;
        }
    }
  }

  form {
    margin-bottom: 0 !important;
  }

  input {
    text-align: center;
    max-width:450px;
      @media (max-width: 468px) {
        font-size: 1.2em !important;
        width: 95%!important;
      }
      &[type=submit] {
        margin-top:10px;
        margin-bottom:5px;
        margin-left:-4px;
        padding-left:5px;
        padding-right:5px;
        width:270px;
        font-size: 17px !important;
        height:48px;
        word-spacing: 2px;
          @media (max-width: 468px) {
            font-size: 1.1em !important;
          }
      }
      &[type=email] {
        background: $background-gray !important;
        max-width: 420px !important;
        width: 270px;
        height:45px;
        font-size:17px;
        &:focus {
          border: 1px solid #db6e1c !important;
        }
      }

  }

  .btn-select {
    text-transform: uppercase;
    display: inline-block;
    margin: 15px 0px;
    text-decoration: none;
    border: 1px solid;
    border-color: $orange;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-appearance: none;
    background-repeat: repeat-x;
    font: 26px/100% 'Titillium Web', Helvetica;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    background: $orange;
  }

  button {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #bbb;
    font-size: 16px;
  }

  a {
    color: #08c !important;
    text-decoration: underline;
  }

  .modal-dialog {
    padding: 4px;
  }

  .modal-body {
    background-color:#111;
    border-radius: 3px;
    max-height: 500px;
    .close {
      color: $white;
      text-shadow:none;
    }
  }

  .wf-logo-content {
    margin-bottom: 50px;
  }

  .wf-logo-text {
    color: $white;
    margin-top: 7px;
  }

  .wf-modal-form {
    margin: 15px 0px 10px 0px;
    text-align: center;
  }
}

.wf-exp,
.wf-exp * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

// Registration modals

#signin_modal, #register_modal {
  @include custom-modals;

  top: 10%;
  text-align: center;
  font-family: proxima-nova;
}

.existing-customer {
  font-family: proxima-nova;

  .popup-user-field {
    margin-top: -9px;
  }
}

#register_modal {
  .modal-header {
    h2 {
      margin-top: 25px;
      font-size: 31.5px;
      font-weight: normal;
    }

    p {
      margin: 0
    }
  }

  .modal-footer {
    p {
      display: inline-block;
      margin: 0
    }
  }

  #register-customer {
    #register_step_one, #register_step_two {
      input {
        width: 90%;
      }
    }

    #register_step_one {
      #finish_step_one {
        width: 90%;
        margin-top: 10px;
      }
    }

    #register_step_two {
      input[type=submit] {
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
  #signin_modal, #register_modal {
    .modal-dialog {
      max-width: 340px;
    }
  }
}

// User accounts modals

#namechange_modal, #emailchange_modal, #passwordchange_modal {
  @include custom-modals;

  position: fixed;
  width: 340px;
  left: 50%;
  margin-left: -170px;
  text-align: left;

  input {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    font-size: 9pt;
    font-weight: normal;
    border: 4px solid #dedede;
    background-color: #dedede;
    text-align: center;
  }

  .cart-modal-title {
    text-align: left;
  }

  input[type=submit] {
    background-color: $orange;
    border: 4px solid $orange;
    color: white;
    display: inline-block;
    width: 150px;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .modal-dialog {
      max-width: 340px;
      margin: 0;
    }
  }
}
