/*
 * password
 */

#passwords-edit, #passwords-update {
  .howitworks-header {
    width: 300px;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  .form-actions {
    input[type=submit] {
      padding: 7px 25px;
    }
  }

  .form-extra-actions {
    a {
      display: inline-block;
    }
  }
}