// ======= //
// Sidenav //
// ======= //

ul.side-nav {
  @include border-box;

  li {
    line-height: 1em;
    text-transform: uppercase;

    &.active {
      background-color: $gray-4;
    }

    a {
      color: inherit;
      display: block;
      padding: 20px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  div[class*="col-md"].side-nav-container {
    display: none;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;

    ul.side-nav {
      margin: 0 15px 20px 15px;
      @include border-radius(5px);
      border: 1px solid $gray;

      li {
        border-bottom: 1px solid $gray;
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    & + div[class*="col-md"] {
      margin-top: 25px;
      @media (max-width: 768px) {
         margin-top: 5px;
      }
      @media (max-width: 767px) {
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 767px) {
  div[class*="col-sm"].side-nav-container {
    display: none;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;

    ul.side-nav {
      margin: 0 15px 20px 15px;
      @include border-radius(5px);
      border: 1px solid $gray;

      li {
        border-bottom: 1px solid $gray;
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    & + div[class*="col-sm"] {
      margin-top: 25px;
      @media (max-width: 768px) {
         margin-top: 5px;
      }
      @media (max-width: 767px) {
        margin-top: 25px;
      }
    }
  }
}