
<!-- START Countdown Timer -->
<div id="countdowntimer-mini" class="container">
	<div class="row spacer">
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
		<div class="col-md-4 pull-left">
			<p id="countdown-clock-slim" class="clock-slim">
				<span class="clock-block-none">
					<span id="shipsin" class="clock-val-slim">&nbsp;</span>
					<span class="clock-unit-text"><%= t('subscriptions.countdowntimer.ships_in') %></span>
				</span>
				<span class="clock-block-slim">
					<span id="dday-mini" class="clock-val-slim">&nbsp;</span>
					<span class="clock-unit-slim"><%= t('subscriptions.countdowntimer.days') %></span>
				</span>
				<span class="clock-block-slim">
					<span id="dhour-mini" class="clock-val-slim">&nbsp;</span>
					<span class="clock-unit-slim"><%= t('subscriptions.countdowntimer.hours') %></span>
				</span>
				<span class="clock-block-slim">
					<span id="dmin-mini" class="clock-val-slim">&nbsp;</span>
					<span class="clock-unit-slim"><%= t('subscriptions.countdowntimer.mins') %></span>
				</span>
			</p>
		</div>
	</div>
</div>
<!-- END Countdown Timer -->