<%# I'm pretty sure this is no longer used. Patrick 20150309
  if ("CA" == cookies[:country])
    twitterText = "Check out @lootcrate, I'm going for it! http://lootcrate.com/join"
    facebookText = "Check out Loot Crate&trade;, I'm going for it! http://lootcrate.com/join"
    partial = "welcome/chooseyourplan_CA"
  else
    twitterText = "Check out the @lootcrate plans, which one do you think I should get?! http://lootcrate.com/join"
    facebookText = "Check out the Loot Crate&trade; plans, which one do you think I should get? http://lootcrate.com/join"
    partial = "welcome/chooseyourplan_US"
  end
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render "shared/progress_bar", :step => 1 %>
    </div>
  </div>
</div>
<%= render "welcome/chooseyourplan" %>
