<div class="container">
  <div class="row">
    <% if params[:product_brand] == 'Level Up' %>
      <div class="col-md-12" id="lvl-survey">
        <iframe src="//www.surveygizmo.com/s3/2211317/Level-Up-Cancellation-Survey" frameborder="0" width="960" height="1400"></iframe>
      </div>
    <% else %>
      <div class="col-md-12" id="lc-survey">
        <iframe src="//www.surveygizmo.com/s3/2044795/Cancellation-Survey" frameborder="0" width="960" height="900"></iframe>
      </div>
    <% end %>
  </div>
</div>