/*
 * custom
 */

$baseBtnFontSize: 24px;
$baseBtnFontWeight: 300;

@font-face {
  font-family: 'lootcrate-icons';
  src: font-url('lootcrate-icons.eot');
  src: font-url('lootcrate-icons.eot?#iefix') format('embedded-opentype'),
       font-url('lootcrate-icons.woff') format('woff'),
       font-url('lootcrate-icons.ttf') format('truetype'),
       font-url('lootcrate-icons.svg#lootcrate-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}